body {
  margin: 0;
  padding: 0;
}
#sectionContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}
#groceryListSection {
  width: 60%;
  height: 100%;
  background-color: #daf2e8;
  text-align: center;
  border-style: none solid none none;
}
#editListSection {
  width: 40%;
  height: 100%;
  background-color: #dff2ea;
  text-align: center;
}
#groceryList {
  margin: auto;
  width: 60%;
  height: 70%;
  text-align: justify;
  padding-left: 5%;
  background-color: #f0faf6;
  border-style: solid;
  border-width: 10px;
  border-color: #89d9b6;
  border-radius: 5%;
  /*Make the list scrollable*/
  overflow-x: hidden;
  overflow-y: auto;
}
.button {
  cursor: pointer;
  margin-top: 3%;
  width: 30%;
  height: 5%;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}
span {
  font-size: 25px;
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
#selectedItem {
  width: 30%;
  height: 5%;
  border-radius: 8px;
}
input::placeholder {
  font-size: 15px;
}
#logo {
  position: absolute;
  height: 10%;
  width: auto;
  right: 0;
  bottom: 0;
  padding-right: 1%;
  padding-bottom: 1%;
}
